.MainDiv {
  width: 500px;

  padding-left: 110px;
  padding-top: 80px;
  padding-bottom: 100px;
  border-color: rgb(255, 0, 0);
  background-color: rgba(5, 5, 5, 0.425);

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.AccountButton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  width: 50%;
}

.EmailBox {
  border-radius: 200px;
  height: 50px;
  width: 300px;
  padding-left: 15px;
  font-size: 20px;
  padding-bottom: 20p;
  margin: 10px 0px;
}

.PasswordBox {
  border-radius: 200px;
  height: 50px;
  width: 300px;
  padding-left: 15px;
  font-size: 20px;
  margin: 10px 0px;
}
