.LegalMessageDiv {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  font-family: Asap-Condensed-Regular;
}

.PageDiv {
  width: 100vw;
  height: 100vh;
  position: fixed;
  transform: scale(1);
}

body {
  background-color: rgb(18, 14, 36);
  background-image: url("../images/Image.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  opacity: 1;
  color: #d3d3d3;
}

.container {
  background-image: url(../images/Image.jpg);
}

.Message {
  padding: 30px;
  margin-left: 200px;
  font-size: 80px;
  /* background-color: rgba(0, 0, 0, 0.705); */
  width: 580px;

  font-family: Asap-Condensed-Regular;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.SearchButton {
  margin-top: 85%;
  margin-left: -2%;
}

.MainDiv {
  width: 500px;
  padding-top: 80px;
  padding-bottom: 120px;
  border-color: rgb(255, 0, 0);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ButtonDiv {
  width: 500px;
  padding-top: 80px;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.LinkButton {
  background-color: #a4161a;
  border-color: #a4161a;
  font-family: Azeret-Mono-Regular;
  color: #d3d3d3;
  position: relative;
  font-size: 20px;
  border-radius: 15px;
  width: 500px;
  height: 60px;
  border-color: transparent;
  transition: 0.3s;
}

.LinkButton:hover {
  cursor: pointer;

  box-shadow: rgba(211, 211, 211, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
