.MainDiv {
  width: 500px;

  padding-left: 110px;
  padding-top: 80px;
  padding-bottom: 100px;
  border-color: rgb(255, 0, 0);
  background-color: rgba(5, 5, 5, 0.425);

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #161a1d;
  border-radius: 15px;
}

.DetailsDiv {
  padding-left: 110px;
  padding-top: 80px;
  padding-bottom: 100px;
  border-color: rgb(255, 0, 0);
  background-color: rgba(5, 5, 5, 0.425);
  width: 500px;
}

.AccountButton {
  margin: 40px 90px;
}

.NameBox {
  border-radius: 10px;
  height: 50px;
  width: 300px;
  padding-left: 15px;
  font-size: 20px;
  padding-bottom: 20p;
  margin: 10px 0px;
  outline: none;
  background-color: #d3d3d3;
  font-family: Asap-Condensed-Regular;
  transition: 0.3s;
}

.EmailBox {
  border-radius: 10px;
  height: 50px;
  width: 300px;
  padding-left: 15px;
  font-size: 20px;
  padding-bottom: 20p;
  margin: 10px 0px;
  outline: none;
  background-color: #d3d3d3;
  font-family: Asap-Condensed-Regular;
  transition: 0.3s;
}

.PasswordBox {
  border-radius: 10px;
  height: 50px;
  width: 300px;
  padding-left: 15px;
  font-size: 20px;
  margin: 10px 0px;
  outline: none;
  background-color: #d3d3d3;
  font-family: Asap-Condensed-Regular;
  transition: 0.3s;
}

.NameBox:hover {
  background-color: #f5f3f4;
}

.EmailBox:hover {
  background-color: #f5f3f4;
}

.PasswordBox:hover {
  background-color: #f5f3f4;
}
