.MainDiv {
  margin-top: 1%;
  margin-left: 37%;
  width: 500px;
  padding-left: 110px;
  padding-top: 80px;
  padding-bottom: 100px;

  /* height: 200px; */
  /* margin: 0 auto; */
  border-color: rgb(255, 0, 0);
  background-color: rgba(5, 5, 5, 0.425);
}

.NameBox {
  /* margin-top: 300px; */
  border-radius: 200px;
  height: 50px;
  width: 300px;
  padding-left: 15px;
  font-size: 20px;
  padding-bottom: 20p;
  margin: 10px 0px;
}

.EmailBox {
  /* margin-top: 300px; */
  border-radius: 200px;
  height: 50px;
  width: 300px;
  padding-left: 15px;
  font-size: 20px;
  padding-bottom: 20p;
  margin: 10px 0px;
}

.PasswordBox {
  border-radius: 200px;
  height: 50px;
  width: 300px;
  padding-left: 15px;
  font-size: 20px;
  margin: 10px 0px;
}

.WelcomeMessage {
  font-size: 80px;
  margin-left: 27%;
  margin-top: 5%;
  color: rgb(255, 255, 255);
  background-color: rgba(5, 5, 5, 0.425);
  width: 816px;
}

.AccountButton {
  margin: 40px 90px;
}
