.Button {
  background-color: transparent;
  color: #d3d3d3;
  position: relative;
  font-size: 16px;
  font-family: Asap-Condensed-SemiBold;
  border-color: #d3d3d3;
  border-radius: 10px;
  width: 120px;
  height: 45px;
  transition: 0.3s;
}

.Button:hover {
  background-color: #a4161a;
  border-color: #a4161a;
  cursor: pointer;
}
