.Button {
  background-color: transparent;
  color: #d3d3d3;
  position: relative;
  font-size: 16px;
  font-family: Asap-Condensed-SemiBold;
  outline: #d3d3d3 solid 2px;
  border: none;
  /* border-color: transparent; */
  border-radius: 10px;
  width: 120px;
  height: 45px;
  transition: 0.3s;
}

.Button:hover {
  background-color: #a4161a;
  outline: #a4161a solid 2px;
  cursor: pointer;
}
