.Button {
  background-color: transparent;
  color: white;
  position: relative;
  font-size: 16px;
  border-color: transparent;
  border-radius: 30px;
  width: 300px;
  height: 45px;
  align-items: center;
  font-family: Asap-Condensed-Regular;
  transition: 0.3s;
}

.Button:hover {
  cursor: pointer;
  color: #ba181b;
}
