.Company {
  align-items: center;
  line-height: 80px;
  padding-left: 25px;
  color: #d3d3d3;
  background-color: transparent;
  border-color: transparent;
  transition: 0.3s;
}

.SRZ {
  font-family: Azeret-Mono-Regular;
  font-size: 30px;
  margin-right: 2px;
  letter-spacing: 5px;
}

.Music {
  font-family: Asap-Condensed-Regular;
  font-size: 20px;
}

.Company:hover {
  cursor: pointer;
  color: #a4161a;
}
