.TrackInfoButton {
  margin: 1vh;
  width: 100%;
  padding: 5px;
  background-color: rgba(226, 215, 215, 0.897);
}

.TrackTitle {
  font-size: 15px;
  font-weight: bold;
}

.ArtistName {
  font-size: 13px;
}

.AlbumTitle {
  font-size: 12px;
  font-style: italic;
}
